:root {
    /* COLORS */
    --black: #0A1931;
    --blue: #185ADB;
    --yellow: #FFC947;
    --white: #EFEFEF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 80px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header .logo {
    display: flex;
    align-items: center;
}
.logo .p {
    color: var(--white);
    font-size: 2rem;
}
.header .navigator ul {
    display: flex;
}
.navigator ul li {
    margin: 0 8px;
}
.navigator ul li a {
    color: var(--white);
    font-size: 2rem;
}
.navigator ul li a:hover {
    text-decoration: underline;
}
.main {
    width: 100%;
    height: auto;
    margin-top: 120px;
}
.main__container {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}
.main__container h1 {
    font-size: 4rem;
    text-align: center;
}
.main__container p {
    margin-top: 50px;
    font-size: 1.8rem;
    text-align: left;
}
.main__container .card {
    margin: 60px auto 0;
    max-width: 600px;
    height: auto;
    background-color: var(--yellow);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container .card__title {
    color: var(--black);
    font-size: 3rem;
    margin-top: 30px;
    max-width: 500px;
    text-align: center;
}
.main__container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0 30px;
    text-align: left;
}
.main__container label {
    color: var(--black);
    font-size: 2rem;
}
.main__container input {
    height: 50px;
    outline: none;
    font-size: 1.8rem;
    border: none;
    border-radius: 35px;
    background-color: var(--black);
    padding: 10px 20px;
    margin: 10px 0;
    color: var(--white);
}
::placeholder {
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.main__container button {
    height: 50px;
    font-size: 1.8rem;
    border-radius: 35px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    letter-spacing: 1px;
    margin-top: 20px;
}
.main__container p {
    width: 100%;
    height: 50px;
    font-size: 1.8rem;
    margin: 30px 0 40px;
    color: var(--black);
    background-color: var(--black);
    border-radius: 35px;
    color: var(--white);
    padding: 13px 20px;
}
.card .label {
    text-align: left;
    margin: 20px;
    font-size: 1.5rem;
    color: var(--black);
}
.card .label b {
    color: var(--black);
    font-size: 1.8rem;
}

.footer {
    width: 100%;
    height: 150px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
}
.footer a {
    color: var(--white);
}
.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 920px) {
    .main__container {
        width: 500px;
    }
    .main__cards-container .card {
        width: 100%;
    }
    .main__container .card__title {
        max-width: 300px;
    }
}
@media (max-width: 570px) {
    .header {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }
    .header .navigator ul {
        margin-top: 10px;
    }
    .main {
        padding: 0 15px;
    }
    .main__container {
        width: 100%;
    }
    .main__cards-container .container {
        width: 100%;
        padding-top: 100px;
    }
    .main__cards-container .card {
        padding: 20px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer .github {
        order: 2;
    }
    .footer .derechos {
        order: 3;
    }
    .footer .platzi {
        order: 1;
    }
}