:root {
    /* COLORS */
    --black: #0A1931;
    --blue: #185ADB;
    --yellow: #FFC947;
    --white: #EFEFEF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 80px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header .logo {
    display: flex;
    align-items: center;
}
.logo .p {
    color: var(--white);
    font-size: 2rem;
}
.header .navigator ul {
    display: flex;
}
.navigator ul li {
    margin: 0 8px;
}
.navigator ul li a {
    color: var(--white);
    font-size: 2rem;
}
.navigator ul li a:hover {
    text-decoration: underline;
}

.main {
    width: 100%;
    height: auto;
    margin-top: 120px;
}
.main__container {
    width: 900px;
    height: auto;
    margin: 0 auto;
}
.main__text h1 {
    font-size: 4rem;
    text-align: center;
}
.main__text i {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.main__text p {
    margin-top: 50px;
    font-size: 1.8rem;
}
.main__text p a:hover {
    text-decoration: underline;
}
.figures {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 200px;
    padding-top: 10px;
}
.cuacir {
    font-size: 15rem;
}
.figures .tri {
    font-size: 10rem;
}
.main__cards-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}
.main__cards-container .container {
    padding-top: 70px;
}
.main__cards-container .card {
    width: 680px;
    height: auto;
    border: 4px var(--black) solid;
    border-radius: 40px;
    margin: 10px auto;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
}
.card h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 3rem;
    color: var(--black);
}
.card label {
    font-size: 2rem;
    color: var(--black);
}
.card .input {
    padding: 3px 20px;
    background-color: rgba(255,255,255,0.2);
    color: var(--white);
    border: 1px solid var(--black);
}
::placeholder {
    color: var(--white);
    letter-spacing: 0.1rem;
}
.card .input-button {
    width: 100%;
    height: 50px;
    background-color: var(--black);
    margin: 15px 0;
    outline: none;
    border: none;
    border-radius: 35px;
    color: var(--white);
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
}
.triangulo p {
    margin-top: -10px;
    margin-left: 15px;
    color: var(--black);
}
.footer {
    width: 100%;
    height: 150px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
}
.footer a {
    color: var(--white);
}
.footer a:hover {
    text-decoration: underline;
}
@media (max-width: 920px) {
    .main__container {
        width: 500px;
    }
    .main__cards-container .card {
        width: 100%;
    }
}
@media (max-width: 570px) {
    .main {
        padding: 0 15px;
    }
    .main__container {
        width: 100%;
    }
    .main__cards-container .container {
        width: 100%;
    }
    .main__cards-container .card {
        padding: 20px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }
    .footer .github {
        order: 2;
    }
    .footer .derechos {
        order: 3;
    }
    .footer .platzi {
        order: 1;
    }
}